<h2 class="sub-header">All Available Jobs</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Shipper Name</th>
                <th>PickUp Location</th>
                <th>Drop Location</th>
                <th>Number of Porters</th>
                <th>Expected Time</th>
                <th>Status</th>
                <th>View</th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="job in allJobs">
            <td>{{job}}</td>
              {#   <td>{{job.properties.uid}}</td>
                <td>{{job.properties.shipper}}</td>
                 <td>{{job.properties.pickLoc}}</td> 
                 <td>{{job.properties.drop_location}}</td>
                <td>{{job.properties.porters[0]}}</td>
                <td>{{job.properties.time_to_reach}}</td>
                <td>{{job.properties.status}}</td>
                <td ng-click="onView(job.properties.uid)" >View</td> #}

            </tr>

        </tbody>
    </table>
</div>