<style>
    .exploreCard {
        height: 220px;
        background: white;
        /* width: 100%; */
        padding: 0px;
        margin: 10px 18px;
        box-shadow: 1px 1px 4px 2px gray;
        border-radius: 2px;
        /*       */
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .cardInfo {
        background: white;
        opacity: 0.9;
        position: absolute;
        /* width: 100%; */
        padding: 0px;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 40%;
        border-radius: 2px;
        color: black;
        font-weight: 700;
        font-size: 18px;
        padding: 20px;
        padding-top: 18%;
    }
    /* ribbon style */
    
    .ribbon-wrapper {
        position: relative;
        border-bottom: 0px solid #ccc;
        border-top: 10px solid #ccc;
        -moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
        -webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
        -moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
        -webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
    }
    
    .ribbon-front {
        background-color: #FD1F1F;
        height: 40px;
        width: 110px;
        position: relative;
        left: -10px;
        z-index: 2;
    }
    
    .ribbon-front,
    .ribbon-back-left,
    .ribbon-back-right {
        -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
        -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
        -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
        -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
    }
    
    .ribbon-edge-topleft,
    .ribbon-edge-topright,
    .ribbon-edge-bottomleft,
    .ribbon-edge-bottomright {
        position: absolute;
        z-index: 1;
        border-style: solid;
        height: 0px;
        width: 0px;
    }
    
    .ribbon-edge-topleft,
    .ribbon-edge-topright {}
    
    .ribbon-edge-bottomleft,
    .ribbon-edge-bottomright {
        top: 40px;
    }
    
    .ribbon-edge-topleft,
    .ribbon-edge-bottomleft {
        left: -10px;
        border-color: transparent #99c transparent transparent;
    }
    
    .ribbon-edge-topleft {
        top: -10px;
        border-width: 10px 10px 0 0;
    }
    
    .ribbon-edge-bottomleft {
        border-width: 0 10px 0px 0;
    }
    
    .ribbon-edge-topright,
    .ribbon-edge-bottomright {
        left: 100px;
        border-color: transparent transparent transparent #99c;
    }
    
    .ribbon-edge-topright {
        top: 0px;
        border-width: 0px 0 0 0px;
    }
    
    .ribbon-edge-bottomright {
        border-width: 0 0 0px 0px;
    }
    
    .ribbon-back-left {
        position: absolute;
        top: -10px;
        left: -30px;
        width: 30px;
        height: 40px;
        background-color: #FF5757;
        z-index: 0;
    }
    
    .ribbon-back-right {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 0px;
        height: 40px;
        z-index: 0;
    }
</style>


<div ng-controller="exploreControl">


    <div class="exploreCard ribbon-wrapper" ng-repeat="card in cards" style="background-image: url('{{card.src}}');">
        <div class="ribbon-front" style="    color: white;
    text-align: center;
    padding: 10px;">
            <!-- ribbon text goes here -->
            {{card.discount}} off
        </div>
        <div class="ribbon-edge-topleft"></div>
        <div class="ribbon-edge-topright"></div>
        <div class="ribbon-edge-bottomleft"></div>
        <div class="ribbon-edge-bottomright"></div>
        <div class="ribbon-back-left"></div>
        <div class="ribbon-back-right"></div>
        <div class="cardInfo">{{card.title}}</div>
    </div>


</div>