<h2 class="sub-header">All Unassigned Jobs</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Shipper Name</th>
                <th>PickUp Location</th>
                <th>Drop Location</th>
                <th>Number of Porters</th>
                <th>Expected Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="job in unassignedJobs">
                <td>{{job.title}}</td>
                <td>{{job.title}}</td>
                <td>{{job.title}}</td>
                <td>{{job.title}}</td>
                <td>{{job.title}}</td>
                <td>{{job.title}}</td>
                <td>{{job.title}}</td>

            </tr>

        </tbody>
    </table>
</div>